<!DOCTYPE html>
<html>
<head>
	<title>image.name</title>
	<style>
		img {height: 540px;}
	</style>
</head>

<body>
	<img src="<%=image.src%>"/><br>
	<a href="<%=image.psdSrc%>">Download Photoshop-File</a>
</body>
</html>
