<!DOCTYPE html>
<html>
<head>
	<title>Nico's coole Bilder</title>
</head>

<body>
	<ul>
		<% for(var image of images) { %>
			<li>
				<a href=<%=image%>><%=image%></a>
			</li>
		<% } %>
	</ul>
</body>
</html>
