<!DOCTYPE html>
<html>
<head>
	<title>Nico's coole Bilder</title>
</head>

<body>
	<h22>Updated lool</h22>
	<ul>
		<% for(var image of images) { %>
			<li>
				<a href=./display?i=<%=image%>><%=image%></a>
			</li>
		<% } %>
	</ul>
	<form ref='uploadForm' id='uploadForm' action='./desplay' method='post'>
        <input type='file' name='sampleFile' />
        <input type='submit' value='Upload!' />
    </form>     
</body>
</html>
